img{
    width: 200px;
    height: 200px;
    border-radius: 70px;
}

.photo-template p{
padding: 20px;
font-size: x-large;
max-width: 300px;
text-align: center;
display: inline-block;

}
.photo-template h2{
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;

    }

header select,header input {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    margin-top: 80px;
    border-radius: 10px;
    border: 4px solid black;
}

header select:focus,header input:focus{
    outline: none;
}

input{
    padding-left:10px ;
    padding-right:10px ;
    margin-left:40px;
    margin-right:40px;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    background-color: transparent;

}

select{ 
    cursor: pointer;
    display: block;
    margin: auto;
}



input:hover{
    color: red;
    border-color: red;
    }

#sort{
    display: inline-block; 
    width: 100%;
   
    margin-top: 20;

}

#sort h2{
    position: relative;
    display: inline-block;
    padding-right: 200px;
    padding-left: 200px;
 
    cursor: pointer;
    
    font-size: 40px;
}

#sort h2:hover{
color: red;
font-size: 50px;
}